<br><br>
<br>
<br>
<br>
<br>
<div class="form-gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">

            <h2 class="text-center">RESET PASSWORD</h2>
            <p></p>
            <div class="panel-body">

              <form [formGroup]="myform" id="register-form" (ngSubmit)="changePassword()" class="form">

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input formControlName="user_password" id="password" name="password" placeholder="New Password" class="form-control" type="password">
                  </div>
                </div>
                <div class="alert alert-danger" *ngIf="user_password.touched && user_password.invalid">
                  <div *ngIf="user_password.errors.required">New Password is required</div>
                  <div *ngIf="user_password.errors.minlength">Minimum length is 8</div>
                  <div *ngIf="user_password.errors.maxlength">Maximum length is 16</div>
                  <!--<div *ngIf="user_otp.errors.pattern">Only Numbers</div>-->
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="confirmPassword" formControlName="user_confPass" name="confirmPassword" placeholder="Confirm Password" class="form-control"
                      type="password">
                  </div>
                </div>
                <div class="alert alert-danger" *ngIf="user_confPass.touched && user_confPass.invalid">
                  <div *ngIf="user_confPass.errors.required">Confirm Password is required</div>
                  <div *ngIf="user_confPass.errors.minlength">Minimum length is 4</div>
                  <div *ngIf="user_confPass.errors.maxlength">Maximum length is 10</div>
                  <!--<div *ngIf="user_otp.errors.pattern">Only Numbers</div>-->
                </div>
                <div class="alert alert-danger" *ngIf="user_confPass.valid && myform.invalid && myform.errors.passwordsShouldMatch">
                  Passwords Do not Match
                </div>

                <div class="form-group">
                  <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Update" type="submit">
                </div>
                <div class="form-group">
                  <button [routerLink]="['/home']" class="btn btn-sm btn-danger btn-block">Cancel</button>
                </div>
                <div class="form-group">
                  <a href="#" class="text-primary">Sign In</a>

                </div>
                <input type="hidden" class="hide" name="token" id="token" value="">
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>