<!-- footer starts-->
    <div class="navbar navbar-default" style="width:100%;position:fixed;bottom:-20px;z-index:7777;">
        <div class="row">
            <div class="col-sm-6 col-xs-9" style="float:left;margin-top: 10px;">
                <div class="copyright text-primary"  style="float:left;margin-left:10px">

                    © 2018, Educentral, All rights reserved

                </div>
            </div>
            <div class="social-icons col-sm-6 col-xs-3" style="float:right;margin-top: 10px;">
                <div style="float:right;margin-right: 15px">

                    <ul class="nomargin">

                        <a href="https://www.facebook.com/edcjava/"><i class="social-media fa fa-facebook-square fa-3x social-fb col-sm-3 col-xs-3" id="social"></i></a>
                        <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw col-sm-3 col-xs-3" id="social"></i></a>
                        <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp col-sm-3 col-xs-3" id="social"></i></a>
                        <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em col-sm-3 col-xs-3" id="social"></i></a>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- footer end-->
