<br>
<br>
<br>
<br>
<div  style="background: white;position:fixed;z-index:9998;width:102%;padding-top:2%;">
<div class="col-sm-3 col-md-3 col-xs-3"></div>
<div id="custom-search-input">
    <div class="input-group col-md-6 col-sm-6 col-xs-6">
        <span class="input-group-addon">Search</span>
        <input type="text" [(ngModel)]="name" class="  search-query form-control " placeholder="Type Here..."
            (keyup)="filterCertificates()" />
    </div>
</div>
    <hr>
</div>
<br>
<br>
<br>

<div class="container" id="top">
    <div class="container">
                
        <div class = "container" *ngIf = "displayCertificatesLength == 0">
            <div class = "container" *ngIf = "displayCertificates == null">
                <img height = "90" width = "120" src = "/assets/images/Loading_icon.gif">
            </div>
            <div class="container" id="url" *ngIf="displayCertificates != null">
                 <h2>No Matching Certificate Found... </h2>
            </div>
      </div>
        <div *ngIf = "displayCertificatesLength != 0">
        <div class="container"  id="url" *ngFor="let cert of displayCertificates">
            
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div align="left">
                    <a href="#" class="inactiveLink">
                        <h2>{{cert.certificateName}}</h2>
                    </a>
                </div>
                <div align="right">
                    <div *ngIf="cert.isThirdParty;else ownCertificates" class=" btn-disabled">
                        <b class="thirdparty">Third Party Certificate</b>
                    </div>
                    <ng-template #ownCertificates>
                        <div class="btn-disabled">
                            <b class="thirdparty">EduCentral Certificate</b>
                        </div>
                    </ng-template>
                </div>
                <div>
                    <br>
                    <p>{{cert.certificateDescription}}</p>
                </div>
                <div *ngIf="cert.isThirdParty" id="url" class="btn">
                    <a href='{{cert.certificateUrl}}' target="_blank" align="left">Click here to go to Certification</a>
                </div>
                
                <div  *ngIf="!cert.isThirdParty" id="url" class="btn">                
                        <a [routerLink]="['/testdesc/'+cert.ceritifcateId]">Click here to go to Certification</a>
                </div>
                
            </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>