<br>
<br>
<br>
<br>
<br>
<br>
    
       <div class="container" id="contact">
           <h3 class="text-center text-uppercase">contact us</h3>
           
           <div class="row">

             <div class="col-sm-12 col-md-4 col-lg-4 ">
                  <div class="card-body text-center">
                    <i class="glyphicon glyphicon-phone"></i>
                    <h4 class="text-uppercase">call us</h4>
                    <p>0674 394 3444</p>
                  </div>
             </div>
             
             <div class="col-sm-12 col-md-4 col-lg-4 ">
                  <div class="card-body text-center">
                    <i class="glyphicon glyphicon-map-marker "></i>
                    <h4 class="text-uppercase">office location</h4>
                    <address>MindTree pvt ltd, Chandaka Industrial Estate, Chandrasekharpur, Bhubaneswar, Odisha 751024 </address>
                  </div>
             </div>

             <div class="col-sm-12 col-md-4 col-lg-4 ">
                  <div class="card-body text-center">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <h4 class="text-uppercase ">email</h4>
                    <p>contact@educentral.com</p>
                  </div>
             </div>
           </div>
       </div>
    